<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

    <title>Simlearn</title>
    <meta name="description" content="Simlearn">

    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- test  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>


    <!----BOOTSTRAP DATATABLES---->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />



    <!-- test  -->
    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- custom hero slider -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
          <link rel="icon" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- custom hero slider -->
    <script type="text/javascript" src="/assets/js/slick.js"></script>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



    <script>
        $(function () {
            $("#header").load("/partials/header.html");
            $("#footer").load("/partials/footer.html");
        });
    </script>

</head>


</head>


<body>
    <!-- ======= Header ======= -->
    <div id="header"></div>


    <!-- ======= Hero Section ======= -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <iframe src="https://www.va.gov/
        "></iframe>

        <section style="background-color: #f9f9f9;" class="margin-top-0 padding-top-0 padding-bottom-3">
            <svg viewBox="0 0 422 20.98" preserveAspecdivatio="none"
                style="background:#f9f9f9;margin-top:0;padding-top: 0;">
                <defs></defs>
                <g>
                    <polygon class=" fl-shape" style="background:#f9f9f9;fill:#537494" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
            <div class="grid-container padding-3">


                <div class="grid-row grid-gap-3">



                    <div class="tablet:grid-col-12 text-left ">
                        <h1 class="f48-700 padding-top-0 padding-bottom-0 " style="text-align: left;">
                            Course Catalog
                        </h1>

                        <p class="font-body-sm " style="line-height: 1.7; letter-spacing: .6px;">


                            SimLEARN is proud to annouce upcoming courses. Course descriptions and class offerings
                            listed below.
                        </p>



                    </div>


                </div>
        </section>
        <!-- End About Section -->
        <!-- <div class="tablet:grid-col-8 form-group ">
                            <label class="usa-label" for="Class-Search">Class Search</label>
                            <input class="usa-input" placeholder="Class Search..." type="text"  value="">
                        </div> -->
        <!-- ======= Search ======= -->
        <section class="usa-graphic-list usa-section padding-top-0 bg-white ">
            <div class="grid-container">

                <div class="  padding-top-3 ">
                    <!-- <h2 class="font-heading-xl border-bottom ">
            Learn more about SimLEARN
          </h2> -->
                </div>


                <!--project1  -->
                <div class="grid-row grid-gap-3 ">

                    <!-- test  -->




                    <div id="myBtnContainer">
                        <button class="btn active usa-button  shadowme a-work" onclick="filterSelection('all')"> Show
                            all</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('person')"> In
                            Person</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('virtual')">
                            Virtual</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('both')"> Offered In
                            Person & Virtually</button>
                        <button class="btn usa-button  shadowme a-work" onclick="filterSelection('slice')">
                            SLICE</button>

                    </div>

                    <!-- Ultrasound-Guided Peripheral IV (UGPIV) Instructor Training Virtual Course -->
                    <div class="filterDiv    virtual  padding-left-4  margin-top-3 showbtn">
                        <div class="padding-3" style="border-left: 5px solid #537494 ;">
                            <h3 class="text-dark-gray f36-line22-w700 line-height-sans-8 "
                                style="font-weight:400;line-height: 35px;">
                                Ultrasound-Guided Peripheral IV (UGPIV) Instructor Training Virtual Course
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                The SLICE UGPIV course is designed to provide training materials and guidance to help
                                experts teach the use of ultrasound to guide IV insertion. During a four-hour
                                train-the-trainer virtual course, instructors and preceptors will review materials and
                                discuss how to effectively teach with them. Instructors simply need to have 1 year of
                                full time (or 2 years of part time) experience in using ultrasound to start IVs.
                                Resources will be provided, including instructions for room set-up, supplies needed,
                                Power Point presentation with lecture notes, student handouts, activity checklists,
                                skills checklists, a course and precepting manual, and guidance in how to teach the
                                material successfully. Subject matter experts who complete the 4-hour training course
                                will be prepared to teach Ultrasound-Guided Peripheral IV insertion in their own
                                facilities. <br><br>

                                *This course is only available to members of the SimLEARN Innovation Center for
                                Education (SLICE) network. Being a part of the SLICE network enables centers to share a
                                multitude of resources, including the ability to teach or request pre-designed courses.
                                There is NO Cost to join or to use these resources but for more information about the
                                SLICE network please contact: VHASimLEARNSLICESupport@va.gov
                                <br><br>
                            </p>
                            <p>
                                Virtual
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="https://hcm03.ns2cloud.com/sf/learning?destUrl=https%3a%2f%2fva%2dhcm03%2ens2cloud%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM%5fDETAILS%26componentID%3d46294590%26componentTypeID%3dVA%26revisionDate%3d1665176640000%26fromSF%3dY&company=VAHCM03
                                    ">
                                    <small>
                                        Course Details

                                    </small>
                                </a>

                            </p>

                        </div>
                    </div>


                    <!-- Ultrasound Guided Peripheral IV (UGPIV) -->
                    <div class="filterDiv    person  padding-left-4  margin-top-3 showbtn">
                        <div class="padding-3" style="border-left: 5px solid #537494 ;">
                            <h3 class="text-dark-gray f36-line22-w700 line-height-sans-8 "
                                style="font-weight:400;line-height: 35px;">
                                Ultrasound Guided Peripheral IV (UGPIV)
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                The SimLEARN Emergency Management Procedure Course (EMPC) – Intraosseous (IO) Vascular
                                Access aims to assist VHA facilities in improving clinical care and healthcare outcomes
                                for Veterans through an educational initiative on the latest evidence-based best
                                practices. Additionally, a comprehensive VA-wide educational program that addresses the
                                clinically critical issue presented in the course can potentially improve veterans’
                                clinical care and outcomes by facilitating VHA’s high reliability organization (HRO)
                                goals. <br>
                                The purpose of this simulation- based training is to educate and train physicians,
                                physician assistants, clinicians, hospitalist and nurse practitioners within emergency
                                departments and in-patients wards on critical procedures. Emergency medicine procedure
                                training would offer immersive learning experience with life-saving emergency procedures
                                that are uncommon due to rare clinical presentation in VA emergency medical centers.

                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="https://hcm03.ns2cloud.com/sf/learning?destUrl=https%3a%2f%2fva%2dhcm03%2ens2cloud%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM%5fDETAILS%26componentID%3d4629459%26componentTypeID%3dVA%26revisionDate%3d1658334900000%26fromSF%3dY&company=VAHCM03
                                    ">
                                    <small>
                                        Course Details

                                    </small>
                                </a>

                            </p>

                        </div>
                    </div>


                    <!-- Emergency Medicine Procedure Course (EMPC) I/O -->
                    <div class="filterDiv    person  padding-left-4  margin-top-3 showbtn">
                        <div class="padding-3" style="border-left: 5px solid #537494 ;">
                            <h3 class="text-dark-gray f36-line22-w700 line-height-sans-8 "
                                style="font-weight:400;line-height: 35px;">
                                Emergency Medicine Procedure Course (EMPC) I/O
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                The SimLEARN Emergency Management Procedure Course (EMPC) – Intraosseous (IO) Vascular
                                Access aims to assist VHA facilities in improving clinical care and healthcare outcomes
                                for Veterans through an educational initiative on the latest evidence-based best
                                practices. Additionally, a comprehensive VA-wide educational program that addresses the
                                clinically critical issue presented in the course can potentially improve veterans’
                                clinical care and outcomes by facilitating VHA’s high reliability organization (HRO)
                                goals. <br><br>
                                The purpose of this simulation- based training is to educate and train physicians,
                                physician assistants, clinicians, hospitalist and nurse practitioners within emergency
                                departments and in-patients wards on critical procedures. Emergency medicine procedure
                                training would offer immersive learning experience with life-saving emergency procedures
                                that are uncommon due to rare clinical presentation in VA emergency medical centers.

                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="https://hcm03.ns2cloud.com/sf/learning?destUrl=https%3a%2f%2fva%2dhcm03%2ens2cloud%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM%5fDETAILS%26componentID%3d4626312%26componentTypeID%3dVA%26revisionDate%3d1653070080000%26fromSF%3dY&company=VAHCM03
                                ">
                                    <small>
                                        Course Details

                                    </small>
                                </a>

                            </p>

                        </div>
                    </div>

                    <!-- Telehealth Mini Residency-->
                    <div class="filterDiv    virtual  padding-left-4  margin-top-3 showbtn">
                        <div class="padding-3" style="border-left: 5px solid #537494 ;">
                            <h3 class="text-dark-gray f36-line22-w700 line-height-sans-8 "
                                style="font-weight:400;line-height: 35px;">
                                Telehealth Mini Residency
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                VHA facilities may improve healthcare outcomes by training on the best practices
                                presented in the Telehealth Mini-residency course. Additionally, a comprehensive VA-wide
                                educational program that addresses the clinically critical issues presented in the
                                course can potentially improve veterans’ clinical care and outcomes by facilitating
                                VHA’s high reliability organization (HRO) goals. <br><br>

                                The purpose of this Virtual training is to establish a standard set of skills to those
                                providing a wide range of healthcare, health information, and education services to our
                                Veterans and provides an overview of the technology necessary to provide patient care
                                through secure video visits. The mini-residency will provide scenario-based simulations
                                in conjunction with interactive discussions surrounding telehealth care. Simulations
                                provide a safe environment to practice the telehealth competencies to improve the remote
                                interactions with Veterans. <br><br>

                                The SimLEARN Telehealth Mini-Residency for Providers is for the intended learners to be
                                primary care, urgent care and ED providers. We concluded that providers need more than
                                webinars and TMS courses to realize the full potential of virtual care to transform
                                health services delivery. We want to change attitudes and behaviors as well as teach
                                practical skills. Meeting Veterans care needs at their locations meets several VA
                                Priorities. It increases access and choices for quality, integrated care within the VA.



                                <br><br>
                            </p>
                            <p>
                                Virtual
                                <a class="usa-button  shadowme a-work  float-right oneshadow " 
                                href=" https://hcm03.ns2cloud.com/sf/learning?destUrl=https%3a%2f%2fva%2dhcm03%2ens2cloud%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM%5fDETAILS%26componentID%3d4634091%26componentTypeID%3dVA%26revisionDate%3d1662741360000%26fromSF%3dY&company=VAHCM03

                                ">
                                    <small>
                                        Course Details

                                    </small>
                                </a>

                            </p>

                        </div>
                    </div>








                    <!-- 11 -->

                    <!-- 22 -->

                    <!-- 33 -->



                    <!-- 44 -->





                    <!-- 55 -->






                    <!-- 66 -->







                    <!-- 77 -->







                    <!-- 88  -->

                    <div class="filterDiv   person  padding-left-4  margin-top-3" style="border: 0  !important;">
                        <div class="padding-3" style="border-left: 5px solid #537494 !important;">
                            <h3 class="text-dark-gray f36-w400" style="font-weight:400;">
                                Escape Room
                            </h3>

                            <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
                                This instructor-led course provides interdisciplinary healthcare teams with an
                                interactive training opportunity to strengthen clinical and non-clinical knowledge,
                                leadership skills, and communication skills. The escape room provides participants with
                                a clinical theme and a simulated patient case. Participants work collaboratively to
                                solve puzzles. The puzzles challenge the team's knowledge and how they care for
                                Veterans. The escape room activity includes a debriefing which is essential to allow
                                participants to reflect on the experience, discuss their decisions and actions, and ask
                                each other questions.
                                <br><br>
                            </p>
                            <p>
                                In Person
                                <a class="usa-button  shadowme a-work  float-right oneshadow " href="#"
                                    data-toggle="modal" data-target="#usermodal"><small>Course Details</small></a>



                            </p>

                        </div>





                    </div>
                    <script>
                        filterSelection("all")
                        function filterSelection(c) {
                            var x, i;
                            x = document.getElementsByClassName("filterDiv ");
                            if (c == "all") c = "";
                            for (i = 0; i < x.length; i++) {
                                w3RemoveClass(x[i], "showbtn");
                                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "showbtn");
                            }
                        }

                        function w3AddClass(element, name) {
                            var i, arr1, arr2;
                            arr1 = element.className.split(" ");
                            arr2 = name.split(" ");
                            for (i = 0; i < arr2.length; i++) {
                                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
                            }
                        }

                        function w3RemoveClass(element, name) {
                            var i, arr1, arr2;
                            arr1 = element.className.split(" ");
                            arr2 = name.split(" ");
                            for (i = 0; i < arr2.length; i++) {
                                while (arr1.indexOf(arr2[i]) > -1) {
                                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                                }
                            }
                            element.className = arr1.join(" ");
                        }

                        // Add active class to the current button (highlight it)
                        var btnContainer = document.getElementById("myBtnContainer");
                        var btns = btnContainer.getElementsByClassName("usa-button");
                        for (var i = 0; i < btns.length; i++) {
                            btns[i].addEventListener("click", function () {
                                var current = document.getElementsByClassName("active");
                                current[0].className = current[0].className.replace(" active", "");
                                this.className += " active";
                            });
                        }
                    </script>



                </div>


                <!-- <iframe src="https://calendar.google.com/calendar/embed?src=vha.simlearntn%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->



        </section>





        <div class="modal fade " id="usermodal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg padding-3" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 ">


                        <button type="button" class="close" style="opacity: 1;" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="usa-alert usa-alert--info usa-alert--no-icon">
                            <div class="usa-alert__body">
                                <p class="usa-alert__text">
                                <h4 class="usa-alert__heading"> You Are Now Leaving This Site</h4>

                                <br>


                                You are accessing a Veterans Affairs site that requires a VA PIV. If you are not a VA
                                employee, but are interested in taking a SimLEARN course, please e-mail
                                <strong>vasimlearngeneralinformation@va.gov</strong>
                                for registration.


                                <br> <br>
                                <a class="usa-button  shadowme a-work oneshadow  btn-me text-center  " href="https://hcm03.ns2cloud.com/sf/start?_s.crb=qc1nbwKaTvIW6%252fg7eUYgSrt323ZSt%252faRLRJTtogCEq0%253d#Shell-home
                                    "><small>Continue </small></a>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </main><!-- End #main  -->

    <!-- ======= Footer ======= -->
    <div id="footer"></div><!-- End Footer -->

</body>

</html>