<!DOCTYPE html>
<html>

<head>


  <title>SimVET-Vetting Healthcare Solutions</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 margin-bottom-0 padding-bottom-0">
              Simulation Validation, Evaluation, and Testing (SimVET) </h1>
          </div>

          <div class="grid-row grid ">
            <div class="tablet:grid-col-7 text-left padding-3 padding-top-0 padding-bottom-0 padding-left-0">
              <br><br><br>
              <!-- <p class="f18-line22-w700 padding-left-2" style="border-left: 5px solid black;"> </p> -->
              <p class="font-body-sm padding-left-2" style="border-left: 5px solid black;"> <strong class="f18-line22-w700 padding-left-2">Mission</strong> <br>

                To test drive health care solutions with frontline staff in a simulated hospital environment.

              </p>
              <!-- <p class="f18-line22-w700 padding-left-2" style="border-left: 5px solid black;"> </p> -->
              <p class="font-body-sm padding-left-2" style="border-left: 5px solid black;"> <strong class="f18-line22-w700 padding-left-2">Vision</strong> <br>

                Nothing should touch a Veteran until it has been validated as safe and effective through simulation.
              </p>


            </div>



            <div class=" tablet:grid-col-5 padding-top-0 float-right ">
              <img src="/assets/images/simvet/SimLearn-OnePager_Graphic2.jpg"
                alt=" Simulation, Validation, Evaluation and Testing (SimVET)"> <br>
            </div>







          </div>

          <div class=" tablet:grid-col-12">

            <p class="f18-line22-w700"> Vetting health care solutions</p>
            <p class="font-body-sm" style="font-size: 18px;
                  line-height: 1.7;
                  letter-spacing: .6px;">
              Simulation Validation, Evaluation, and Testing (SimVET) is an emerging service and innovative model
              sponsored by the National Simulation Center (NSC). Prior to health care solution acquisition and
              deployment across the Veterans Health Administration (VHA), SimVET test drives clinical software
              applications and medical devices in a fail-safe simulated clinical environment. This service supports
              VHA modernization efforts to become a high-reliability organization (HRO) by anticipating risks.
              SimVET empowers the frontline staff and clinicians who directly provide care to Veterans to be central
              to the vetting process. This approach greatly reduces the chance for harmful events that result from
              new health care solution implementation.


            </p>
            <p class="font-body-sm" style="font-size: 18px;
                  line-height: 1.7;
                  letter-spacing: .6px;">
              By replicating complex care environments such as intensive care units (ICU), community-based
              outpatient clinics (CBOC) and community living centers (CLC), SimVET develops use case scenarios to
              analyze health care solutions for usability, patient safety, clinical workflow impact and technical
              feasibility.
              <br><br>
            </p>



          </div>


        </div>


      </div>

      </div>
    </section>


    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- army boxes  why simlearn-->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">
        <h1 class="text-dark-gray f48-700 " style="margin-top:0 !important;">
          Why Simulation?</h1>

        <h2 class="text-center "><i>
            Military service members go into harm’s way; our Veterans should not
          </i> <br><br>

        </h2>


        <div class="grid-row  padding-3 oneshadow text-white text-ls-1" style="border: 4px solid white;
         background: #21648d;">






          <div class="grid-row  padding-bottom-2 usa-card-group ">

            <!--11-->
            <div class="tablet:grid-col  ">
              <img class="oneshadow" style="border: 7px solid white;" src="/assets/images/simvet/why-SimVet1.png"
                alt="Veterans spent a career simulating and practicing ">
            </div>
            <!-- 22 -->
            <div class="tablet:grid-col  padding-top-1  margin-right-1  padding-bottom-2  margin-top-2 ">
              <p class=" line-height-sans-6  margin-0  " style="
                padding: 10px 20px; margin: 0 0 20px;font-size: 18px; "><br> <br>
                <strong>From first-hand experience, Veterans understand the critical role that simulation
                  plays.</strong>
              </p>
            </div>
          </div>
          <!-- <h1 class="text-dark-gray f48-700 ">
              Why Simulation?</h1> -->

          <div class="grid-row  padding-bottom-2 usa-card-group ">
            <!-- 22 -->
            <div class="tablet:grid-col  padding-top-1  margin-right-1  padding-bottom-2  margin-top-2 ">
              <p class=" line-height-sans-6  margin-0  " style="
                  padding: 10px 20px; margin: 0 0 20px;font-size: 18px; ">
                <br> <br>
                <strong>SimVET ensures that VHA enhances Veteran care and provides excellent patient outcomes through
                  simulation.</strong>

              </p>
            </div>
            <!--11-->
            <div class="tablet:grid-col  ">
              <img class="oneshadow" style="border: 7px solid white;" src="/assets/images/simvet/High-Reliability.jpg"
                alt="Veterans spent a career simulating and practicing ">
            </div>


          </div>

        </div>
        <!-- <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
          <div class="tablet:grid-col-3">
            <img class="usa-media-block__img    " src="/assets/images/team-headshots/Cropped-Scott-Wiltz.svg"
              alt="Dr. Scott Wiltz, headshot">
          </div>
          <div class="tablet:grid-col-9 " style="padding-top: 40px;">
            <p class="font-body-sm margin-0 padding-left-3">
              <strong> Dr. Scott Wiltz, SimLEARN’s Medical Director </strong>
            </p>
            <blockquote>
              "Military service members go into harm’s way; our Veterans should not.”

            </blockquote>
          </div>

        </div> -->

      </div>

    </section>


    <!-- infograph section  -->
    <section style="background:#f0f0f0;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#f0f0f0;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:#f0f0f0;fill:#e1f3f8;" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- info list row -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0 bg-base-lightest">
      <div class="grid-container">

        <div class="grid-row grid-gap-3 padding-top-2 padding-bottom-2 usa-card-group">
          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray f48-700 ">
              What We Achieve </h1>
          </div>
          <!--11 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/simvet/Reproducible-Process.jpg"
                    alt="function placeholder">
                </div>

              </div>

              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <header class="usa-card__header">
                  <h4 class="f14-line22-w700" style="color: #004b87;">Reproducible Process

                  </h4>
                </header>
                <p style="color:#1b1b1b;"> <br>A streamlined process for validating, evaluating
                  and testing health care solutions for usability, patient safety, technical feasibility and clinical
                  workflow impact

                </p>

              </div>

            </div>


          </div>
          <!-- 22 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/simvet/imulation-Environment.jpg"
                    alt="function placeholder">
                </div>

              </div>
              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <header class="usa-card__header">
                  <h4 class="f14-line22-w700" style="color: #004b87;">Simulation Environment

                  </h4>
                </header>
                <p style="color:#1b1b1b;"> <br> A simulation environment that accurately represents diverse clinical
                  settings in medical centers across the VHA

                </p>

              </div>

            </div>


          </div>
          <!-- 33 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-left ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/simvet/Analysis.jpg" alt="function placeholder">
                </div>

              </div>

              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <header class="usa-card__header">
                  <h4 class="f14-line22-w700" style="color: #004b87;">Analysis

                  </h4>
                </header>



                <p style="color:#1b1b1b;"> <br>A Consumer Reports-style analysis for each health care solution that is
                  validated, evaluated and tested


                </p>

              </div>

            </div>


          </div>


        </div>
        <!-- second row of boxes  -->
        <div class="grid-row grid-gap-3 padding-top-2 padding-bottom-2 usa-card-group">

          <!--11-->

          <!-- 22 -->
          <div class="tablet:grid-col  padding-top-1   padding-bottom-2  margin-top-2">
            <div class=" bg-white oneshadow ">


              <div class="u text-center ">
                <div class="">
                  <img class="" src="/assets/images/simvet/HRO.jpg" alt="High Reliability">
                </div>

              </div>
              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <header class="usa-card__header">
                  <h4 class="f14-line22-w700" style="color: #004b87;">High Reliability


                  </h4>
                </header>

                <p style="color:#1b1b1b;">Decreased cost, variability and interoperability challenges to eliminate
                  potential patient safety hazards, minimize clinical workflow disruptions and better utilize VA
                  resources across health care facilities
                </p>

              </div>

            </div>


          </div>
          <div class="tablet:grid-col-6  padding-top-1   padding-bottom-2  margin-top-2">
            <div class="usa-card__container bg-white oneshadow ">


              <div class="usa-card__media usa-card__media--inset text-center ">
                <div class="usa-card__img">
                  <img class=" wrapper img-me" src="/assets/images/simvet/Repository.jpg" alt="Repository">
                </div>

              </div>

              <div class="f18-line22-w400 padding-2  " style="min-height: 256px;">
                <header class="usa-card__header">
                  <h4 class="f14-line22-w700" style="color: #004b87;">Repository


                  </h4>
                </header>

                <p style="color:#1b1b1b;">  A collection of SimVET analysis results readily accessible to the VA
                  enterprise

                </p>

              </div>

            </div>


          </div>


        </div>
        <!-- our approch  -->

        <div class="grid-row grid-gap-5 bg-white oneshadow" style="border: 7px solid white;">


          <div class="tablet:grid-col-12 ">
            <h1 class=" text-dark-gray f48-700 ">
              Our Approach </h1>


            <div class="grid-row grid-gap ">

              <div class="tablet:grid-col-12 padding-5">

                <img src="/assets/images/simvet/SimLearn-OnePager_Graphic-1.jpg" alt="Simvet infograph">


              </div>

              <div class=" tablet:grid-col-12">
                <p class="font-body-sm margin-0  "
                  style=" padding: 10px 20px; margin: 0 0 20px;font-size: 16px;  font-size: 18px;line-height: 1.7; letter-spacing: .6px;">


                  The SimVET model will analyze a variety of health care solutions (e.g., clinical software
                  applications and medical equipment/devices) through examining usability, impact on clinical workflow,
                  patient safety and technical feasibility. The SimVET model will produce a Consumer Reports-style
                  analysis including pros and cons, relevant comparisons, unique advantages, patient safety risks and
                  end-user recommendations. This final report is intended to inform acquisition decisions throughout the
                  enterprise. In short, SimVET allows the VHA to test drive health care solutions before they reach
                  Veterans and clinical end-users. The criteria for health care solution analysis will be based on
                  priorities from leadership in the VHA, VISN, or VA Medical Center (VAMC) levels. Additionally,
                  recommendations from the VHA program offices or other stakeholders, such as staff and Veterans, will
                  be considered for health care solution analysis. To ensure the solution can work in the VHA
                  environment, technical requirements will be tested. Frontline clinical staff will conduct live
                  scenarios in a realistic, simulated hospital environment, applying these new health care solutions in
                  the workflows for patient care and other Veteran-facing services.

                </p>



              </div>



            </div>



          </div>


        </div>

      </div>


    </section>

    <!-- more about+ background info  -->
    <section class="aquaback " style="background:white">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g>
          <polygon class=" fl-shape" style="background:white;fill:#f0f0f0 " points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    


    </section>


    <!-- contact us section  -->

    <section class="  small-padding 3  margin-bottom-0   bg-white">




      <div class="grid-container margin-top-2">

        <div class="grid-row bg-white oneshadow border border-primary-lighter">
          <p class="padding-2 table:grid-col-12 border-bottom"> <i
              class="fas fa-envelope-open-text project-icon"></i><strong>Let's
              Connect! </strong> </p>

          <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2  margin-top-2  ">
            <p class="padding-2"><strong>Contact Us:</strong> <br><br> Email us with any questions or
              inquiries. We would be happy to answer your questions. <br>
              <a class="usa-button btn-me oneshadow a-work  margin-top-2" href="mailto:SimVETSupport@va.gov">
                <small>SimVETSupport@va.gov</small> </a>
            </p>
          </div>

          <!-- <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2  margin-top-2 ">
                <p class="padding-2"> <strong>NEWS Releases!
                    </strong> <br><br> View the official VA Press Release announcing VETSmile <br><br>
                      <a class="usa-button btn-me oneshadow a-work  margin-top-2" href="https://www.va.gov/opa/pressrel/pressrelease.cfm?id=5715"> <small>Read
                            More
                            »</small></a>
                </p>



            </div> -->

        </div>




      </div>
    </section>



  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>