<!DOCTYPE html>
<html>


<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Durham</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- test  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>


  <!----BOOTSTRAP DATATABLES---->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />



  <!-- test  -->
  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>





  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>


<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">

    <!-- <section class=" margin-0 text-center ">
      <img src="/assets/images/page1-images/sim-top-1.png" width="100%" height="auto" alt="Simlearn Logo">


     

    </section> -->

    <!-- End Hero -->



    <section class=" small-padding padding-bottom-3 margin-top-0 padding-top-0" style="background-color: white;">
      <!-- svg  -->

      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
        <defs></defs>
        <g>
          <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div class="grid-container " style="padding: 10px !important;">
        <div class=" grid-row padding-right-0 padding-left-0">
          <h1 class=" f48-700 padding-top-0 padding-bottom-0  ">Interprofessional Advanced Fellowship in Clinical
            Simulation at Durham VA Health Care System in Durham, North Carolina</h1>

          <div class="tablet:grid-col-8 ">
            <h1 class=" f48-700 padding-top-0 padding-bottom-0  ">
              Who We Are
            </h1>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              Welcome to the Interprofessional Advanced Fellowship in Clinical Simulation (IAFCS) at the Durham VA
              Health Care System. We are dedicated to educating employees, trainees, students, and collaborative
              partners in providing exceptional care through cutting-edge simulation modalities. Our vision is to set
              the standard for simulation-based education and process improvement across VA Medical Centers nationwide,
              integrating the data-driven model and conducting translational research to enhance Veteran patient
              outcomes.
            </p>
          </div>
          <div class="tablet:grid-col-4 padding-5 text-center">
            <img class="image-thumbnail " style="margin-top: 20px; " src="/assets/images/fellows/Durham-video.png">
            <figcaption> Overview of DVA HCS Simulation Program</figcaption>

          </div>

        </div>
      </div>

      </div>

    </section>

    <!-- image background section  -->
    <section style="padding: 30px; 
background: url(/assets/images/fellows/why-bg.svg);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom center;">

      <div <div class="grid-container padding-top-2  bg-white oneshadow">

        <div class="padding-5">
          <h2 class="  padding-top-0 padding-bottom-0 text-800 ">Overview of the Durham VA Health Care System (DVA HCS)
            Simulation Program</h1>
            <br>

            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              The Durham VA Health Care System (DVA HCS) is a 271-bed, level lA, tertiary care, referral and teaching
              facility located in Durham, North Carolina adjacent to our academic affiliate Duke University Medical
              Center. DVA HCS maintains academic affiliations with many academic institutions, including Duke
              University, University of North Carolina at Chapel Hill, Campbell University, Watts School of Nursing,
              Durham Technical Community College, Vance Granville Community College, North Carolina Central University
              and North Carolina State University.

              <br><br> The DVA HCS Simulation Program is led by an interprofessional team that uses simulation and other
              educational tools to improve the quality of care provided to Veterans nationwide. We educate nurses,
              physicians, respiratory therapists, chaplains and other interprofessional facility employees, students,
              and trainees. We explore innovative ways to improve communication, teamwork, patient safety and systems
              redesign issues that impact overall health care delivery and performance. With strong connections to our
              academic affiliates, VISN 6, the Simulation Learning, Evaluation, Assessment, and Research Network
              (SimLEARN) and professional associations, our simulation program is recognized as a national leader in
              simulation practice, education, systems integration and research.




            </p>




        </div>



      </div>


    </section>


    <section class="paddind-5 " style="background-color: #e0f1f1; padding: 10px;">
      

      <div class="grid-container text-center" style="background: url(/assets/images/fellows/back-video.png);
     background-position:center;
    background-repeat: no-repeat;
    padding: 3rem 0;
    background-size: cover;
  "><div class="grid-container text-center">
        <h3 class=" bg-white text-center oneshadow  " style="padding: 30px;">Demonstrates patient-centered care,
          communication, teamwork and data </h3>
      </div>


        <img style="width:40%;  border-radius: 50%; " src="/assets/images/fellows/play-video.png">




      </div>
    </section>


    <!-- SVG -->

    <section style="background: #e1f3f8;">
      <svg viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background: #e1f3f8;margin-top:0;padding-top: 0;">



        <g class="fl-shape-content" style="fill: #f0f0f0">
          <polygon class="fl-shape" points="0,34 211,0   422,34"></polygon>
        </g>
      </svg>
    </section>





    <section class="usa-section small-padding usa-section  "
      style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
      <div class="grid-container">

        <div class="grid-row grid-gap-2  bg-white padding-3" style="box-shadow: 0px 5px 6px -6px black;">

          <div class="tablet:grid-col-12 margin-bottom-3">
            <div class="grid-row bg-white  padding-2 padding-bottom-0" style=" border-bottom: .125rem dotted #7fcfcf;">


              <p class="font-body-lg padding-top-1 margin-0  margin-bottom-3"> <strong>Meet Our Co-Directors</strong>
              </p>

            </div>
          </div>
          <!-- 111 -->

          <div class="tablet:grid-col-12 margin-bottom-3">
            <div class="grid-row grid-gap-2  bg-white ">
              <div class="tablet:grid-col-4  margin-bottom-3 display-flex flex-column flex-justify-start">
                <img class="usa-media-block__img    " src="/assets/images/fellows/director-mary.jpeg" alt="Ryan Vega,">
              </div>
              <div class="tablet:grid-col-8 ">
                <p class="font-body-sm margin-0 padding-3 margin-bottom-3" style=" background-color: #c9e9ed;">
                  <strong> Mary E. Holtschneider, MEd, MPA, BSN, RN, NPDA-BC, NREMT-P, CPTD, </strong>
                </p>

                <blockquote style="border: 0 !important;">
                  She is an experienced healthcare simulation educator with a background in trauma, emergency and
                  critical care. She is the Simulation Education Coordinator and Co-Director of the Interprofessional
                  Advanced Fellowship in Clinical Simulation at the Durham VA Health Care System.


                </blockquote>

              </div>

            </div>
          </div>


          <!-- 2 -->
          <div class="tablet:grid-col-12 margin-bottom-3">
            <div class="grid-row grid-gap-2  bg-white ">

              <div class="tablet:grid-col-8 ">
                <p class="font-body-sm margin-0 padding-3 margin-bottom-3" style=" background-color: #c9e9ed;">
                  <strong> Dr. Chan W. Park, MD, FAAEM,
                  </strong>
                </p>

                <blockquote style="border: 0 !important;">
                  He is the Director of Simulation Education and Co-Director of the Interprofessional Advanced
                  Fellowship in Clinical Simulation at the Durham VA Health Care System. He brings expertise in
                  emergency medicine and a commitment to advancing the interprofessional learning environment.


                </blockquote>

              </div>
              <div class="tablet:grid-col-4  margin-bottom-3 display-flex flex-column flex-justify-end">
                <img class="usa-media-block__img    " src="/assets/images/fellows/Chan.jpg" alt="Ryan Vega,">
              </div>

            </div>
          </div>





        </div>







      </div>
    </section>






  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->



</body>

</html>