<!DOCTYPE html>
<html>


<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>How to apply</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- test  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>


  <!----BOOTSTRAP DATATABLES---->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />



  <!-- test  -->
  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>





  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>


<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">

    <!-- <section class=" margin-0 text-center ">
      <img src="/assets/images/page1-images/sim-top-1.png" width="100%" height="auto" alt="Simlearn Logo">


     

    </section> -->

    <!-- End Hero -->



    <section class=" small-padding padding-bottom-3 margin-top-0 padding-top-0" style="background-color: white;">
      <!-- svg  -->

      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
        <defs></defs>
        <g>
          <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div class="grid-container " style="padding: 10px !important;">
        <div class=" padding-right-0 padding-left-0">

          <div class="tablet:grid-col-12 ">
            <h1 class=" f48-700 padding-top-0 padding-bottom-0  ">
              HOW TO APPLY
            </h1>
          </div>
          <div class="grid-row grid-gap-2">


            <div class="tablet:grid-col ">
              <p class="font-body-md padding-top-5" style="line-height: 1.7; letter-spacing: .6px;">
                <strong>THE VA QUALITY SCHOLARS FELLOWSHIP OFFERS SCHOLARS OPPORTUNITIES TO BE LEADERS WHO WILL
                  ACCOMPLISH THE FOLLOWING:</strong>
                <br><br>
                <li> Improve health care delivery, health systems organization and management, and health professions
                  education through interventions that exert positive influences in each domain. </li>
                <br>
                <li>Apply the knowledge and methods of health care quality improvement to the care of individual
                  patients and populations.</li>
                <br>
                <li>Teach health professionals about healthcare improvement.</li>
                <br>
                <li>Perform research and develop new knowledge for the ongoing improvement of the quality and value of
                  healthcare services.</li>
                <br>
                <li>Enrich VHA’s and the Nation’s clinical workforce with experts in healthcare quality research and the
                  application of healthcare quality improvement skills.</li>
                <br>


            </div>

            <!-- 
            <div class="tablet:grid-col-5 display-flex flex-column flex-justify-center text-center padding-5 ">


              <img class="" src="/assets/images/fellows/BAF.png" alt="Fellowship-Webpage-Collage image"
                style="width:80%;">


            </div> -->

          </div>

          <div class="grid-row  margin-top-3">
            <p class="font-body-md padding-top-5" style="line-height: 1.7; letter-spacing: .6px;">
              <strong>To apply for a VA Quality Scholars fellowship at one of our sites, please contact one of the
                Senior Scholars at that site.</strong>
            </p>




            <!-- main offices boxes  -->
            <div class="grid-row  display-flex  flex-justify-center ">

              <!-- right side -->
              <div class="tablet:grid-col-5 margin-1 margin-top-3 apply-fellow oneshadow"
                style="border-left: 10px solid #0072ce;">
                Minneapolis VA Medical Center<strong>&#8594;</strong>
              </div>

              <div class="tablet:grid-col-5 margin-1 margin-top-3 apply-fellow oneshadow"
                style="border-left: 10px solid #0072ce;">
                VA Pittsburgh Healthcare System <strong>&#8594;</strong>
              </div>
              <div class="tablet:grid-col-5 margin-1 margin-top-3 apply-fellow oneshadow"
                style="border-left: 10px solid #0072ce;">
                <a href="#"> Adele <strong>&#8594;</strong> </a>

              </div>
              <div class="tablet:grid-col-5 margin-1 margin-top-3 apply-fellow oneshadow"
                style="border-left: 10px solid #0072ce;">
                VA Pittsburgh Healthcare System <strong>&#8594;</strong>
              </div>

            </div>











          </div>
        </div>

      </div>

    </section>





    <!-- SVG -->

    <!-- <section style="background: #f0f0f0;">
      <svg viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background: #f0f0f0;margin-top:0;padding-top: 0;">



        <g class="fl-shape-content" style="fill: #e1f3f8;">
          <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
        </g>
      </svg>
    </section> -->



    <!-- ======= eligible section ======= -->
    <section class="padding-bottom-3" style="background-color: #f0f0f0;">
      <div class="grid-container padding-top-2">
      
            <!-- circle and list  -->
            <div class="grid-row  margin-top-3 ">
              <div class="tablet:grid-col text-left display-flex flex-column flex-justify-center margin-right-1">


                <!-- circle to calendar   -->
                <div class="tablet:grid-col text-left display-flex flex-column flex-justify-center">
                  <div class="article-summary-cta">
                    <div class="summary-cta">
                      <h2 class="" style="color: #7fcfcf;">Ready to learn more?
                      </h2>

                      <div class="summary-cta-description text-white">

                        <a href="/fellow-learning.html#calendar" style="font-weight: bolder;   font-size: 110%;"
                          class="text-white">
                          <i class="fas fa-check-square project-icon"></i>Check out the calendar </a>
                        <br>

                      </div>


                    </div>
                  </div>
                </div>



              </div>
              <div class="tablet:grid-col-6 padding-left-3 bg-light oneshadow">

              <p class="font-body-md padding-top-5" style="line-height: 1.7; letter-spacing: .6px;">
                <strong  style="border-bottom: 5px solid #002746;"> Eligibility Requirements:</strong>
                
                <li class=" padding-1"> 
                  Be a U.S. Citizen.</li>
                
                <li class="padding-1">  Not be simultaneously enrolled in an accredited clinical training program.</li>
                
                <li class=" padding-1">   Demonstrate interest in pursuing a VA career with healthcare quality as a significant focus.</li>
                
                <li class=" padding-1">  Meet all profession- specific criteria, provided below.</li>

              </div>
            </div>


         
      </div>
    </section><!-- End eligible -->


   
      <!-- </section> -->
      
      
  
      <!-- svg/contact section  -->
      <section class="padding-bottom-5" style="background:#fff;">
        <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#fff;;margin-top:0;padding-top: 0;">
  
          <defs>
          </defs>
  
          <g>
            <polygon class=" fl-shape" style="fill: #e0f1f1;" points="0,0 422,0 422,20">
            </polygon>
          </g>
        </svg>

      <div class="grid-container padding-2  ">

        <div class="grid-row grid-gap-2">
          <h3 class=" text-dark-gray f48-700 ">
            Profession-specific criteria
          </h3>


        
        </div>
    
        <div class="grid-row bg-white oneshadow padding-2 padding-bottom-0 image-thumbnail">




          <p class="padding-2"> <i class="fas fa-envelope-open-text project-icon"></i><strong>Let's
              Connect! </strong> <br> Email us with any questions or
            inquiries. We would be happy to answer your questions. <br> <br>

            For further information about each local site, please contact the co-directors of each site. For program
            information about the National Coordinating Center, please contact Dr. Nelson Wong at <a
              href="mailto:Nelson.Wong@va.gov">Nelson.Wong@va.gov</a> or Dr. Laura Kim at <a
              href="mailto:Laura.Kim@va.gov">Laura.Kim@va.gov</a>



        </div>
      </div>

    </section>
    <!-- svg  -->


    <!-- modal for Charlotte  -->



  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->



</body>

</html>