<!DOCTYPE html>
<html>


<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>Pittsburgh</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- test  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>


  <!----BOOTSTRAP DATATABLES---->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />



  <!-- test  -->
  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>





  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>


<body>
  <!-- ======= Header ======= -->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">

    <!-- <section class=" margin-0 text-center ">
      <img src="/assets/images/fellows/sim-nursing.jpg" width="100%" alt="Simulation image">


     

    </section> -->

    <!-- End Hero -->



    <section class=" small-padding padding-bottom-3 margin-top-0 padding-top-0" style="background-color: white;">
      <!-- svg  -->

      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
        <defs></defs>
        <g>
          <polygon class=" fl-shape" style="background:white;fill:#0e2640;" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>

      <div class="grid-container " style="padding: 10px !important;">
        <div>
          <h1 class="  padding-top-0 padding-bottom-0 margin-0 grid-col-12 "
            style="font-size: 14px;font-stretch: 90%; margin-top: 20px; text-transform: uppercase;font-stretch: 90%;letter-spacing: .5px; ">
            Pittsburgh, Pennsylvania</h1>
        </div>

        <div class=" grid-row grid-gap-2 padding-right-0 padding-left-0 padding-top-3">


          <h3 class="  padding-top-0 padding-bottom-0  margin-0">
            Interprofessional Advanced Fellowship in Clinical Simulation at </h3>
          <h3 class=" f48-700 padding-top-0 padding-bottom-0  margin-0 padding-top-3"
            style="border-bottom: 0.125rem dotted #7fcfcf;">
            VA Pittsburgh Healthcare System </h3>


          <div class="tablet:grid-col-7">
            <h2 class="  padding-top-5 padding-bottom-0  "
              style="font-size: 2.5rem!important; font-weight:700; color:#01338d;">
              Who We Are
            </h2>
            <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              Welcome to the Interprofessional Advanced Fellowship in Clinical Simulation (IAFCS) at VA Pittsburgh
              Healthcare System (VAPHS) in Pittsburgh, Pennsylvania. Aligned with the overarching mission of VAPHS, we
              are dedicated to honoring America's Veterans with world-class health care, training future providers, and
              advancing medical knowledge through research. Our vision is to partner with Veterans and their families to
              optimize their health and quality of life through integrated, innovative, and compassionate care.


            </p>
          </div>
          <div class="tablet:grid-col-5   display-flex flex-column flex-justify-end  padding-top-4">

            <img class="usa-media-block__img oneshadow image-thumbnail" src="/assets/images/fellows/PA.jpg"
              alt="simlearn image place holder">
          </div>

        </div>


      </div>
      </div>

      </div>

    </section>

    <!-- overview background section  -->
    <section class="padding-bottom-4">



      <div <div class="grid-container  padding-3  oneshadow" style="background:linear-gradient(to bottom,#fff 0,#fdfdff 25%,#f2f5fa 75%,#eff4f8 100%);
      ">

        <div class=" padding-bottom-3">
          <h2 class="  padding-top-5 padding-bottom-0  "
            style="font-size: 1.5rem!important; font-weight:700; color:#01338d;">Overview of the Pittsburgh VA Health
            Care System Simulation Program</h1>


            <p class="font-body-md padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">
              The VAPHS Clinical Simulation Center is dedicated to the advancement of clinical education and research in
              the service of excellent patient care. The Center provides a safe learning environment, state of the art
              educational technologies, and superior faculty. <br><br>

              Our 4400 sq. ft. simulation center is designed to replicate VAPHS hospital facilities, including an
              operating room, inpatient rooms, and outpatient procedure room, and is flexible enough to accommodate a
              wide variety of simulations. Current simulation programs focus on procedural skills, clinical team
              training, communication skills, highly detailed procedural/ surgical skills including virtual training.
              <br><br>
              Simulations range from individual procedural skills, rapid response teams, system performance including
              stroke activation and Ebola readiness, mock code, and root cause analysis (RCA). <br>

            </p>



        </div>



      </div>
    </section>
    <section class="grid-container margin-top-3 oneshadow" style="background:#f0f0f0;padding: 35px 50px 25px;  ">
      <!-- first row  -->
      <div class="grid-row  padding-0 ">

        <!-- first video row  -->



        <div class="tablet:grid-col-12 mobile-lg:grid-col-auto display-flex flex-column padding-3 padding-top-1">
          <h2 class="  padding-bottom-0  " style="font-size: 1.5rem!important; font-weight:700;
          color:#01338d;border-bottom: 0.125rem dotted #7fcfcf;">Selected Projects/ Accomplishments </h2>


          <ul class="font-body-md padding-2 ">

           
            <li class="marging-top-2">Validation of Airway Hemorrhage Simulation Scenarios (Arshia Ashjaie, DDS)
            </li>
            <li class="marging-top-2">Esophageal Hemorrhage Interprofessional Team Training (Jorge Lara-Gutierrez, M.D.)
            </li>
            <li class="marging-top-2">Ethics Committee Training (Marianne Burda, M.D./ Kathy Carter, MSN RN)
            </li>
            <li class="marging-top-2">Mock Deposition Simulation Training (Deanna Blisard, M.D.)
            </li>
            <li class="marging-top-2">Garage Emergency Evacuation (Dan Wolf, MSc)
            </li>
            <li class="marging-top-2">Veteran Facing Naloxone Training (Suzanne Symons, MSW/ Ashley Modany, PharmD)
            </li>
            <li class="marging-top-2">Ebola and Covid Readiness Training
            </li>
            <li class="marging-top-2">System Integration/Analysis Projects
            </li>

          </ul>





        </div>
        <div class="tablet:grid-col-12 ">

          <img class=" oneshadow image-thumbnail" src="/assets/images/fellows/top-pitts-ad.jpg" alt="">
        </div>
        <div class="grid-row  padding-0 ">

          <!-- first video row  -->

          <div class="tablet:grid-col-7 mobile-lg:grid-col-auto display-flex flex-column " style="background:#f0f0f0;padding: 35px 50px 25px;  padding-top: 10%; padding-right: 0 !important;">

            <p style="font-size: 1.3rem!important; font-weight:700; color:#01338d;">To apply for the IAFCS in
              Pittsburgh, Pennsylvania
              check eligibility requirements and contact the co-directors at this site.</p>
            <!-- <a class="usa-button  shadowme a-work oneshadow btn-me text-left"
              href="/views/fellowship/applicants-info.html"
              style="width:80%;margin-top: 20px; background-color: #165266 ;">Information for Applicants »</a> -->

            <a class="usa-button btn-me  oneshadow a-work" href="mailto:MaryEllen.Elias@va.gov;Lillian.Emlet@va.gov" target="_blank" style="width:80%;margin-top: 20px; background-color: #165266 ;">Contact Us »
            </a>





          </div>
          <div class="tablet:grid-col-5 ">
            <img src="/assets/images/fellows/arash.jpg" class=" oneshadow" alt="pittsburg Arash Ashjae image place holder">
          </div>

        </div>
        <div class="tablet:grid-col-12 mobile-lg:grid-col-auto display-flex flex-column padding-3 padding-top-1">
          <h2 class="  padding-bottom-0  " style="font-size: 1.5rem!important; font-weight:700;
          color:#01338d;border-bottom: 0.125rem dotted #7fcfcf;">Fellowship Collaborators </h2>


          <ul class="font-body-md padding-2 ">








            <li class="marging-top-2"> Carlow University</li>
            <li class="marging-top-2">Carnegie Mellon University
            </li>
            <li class="marging-top-2">Chatham University</li>
            <li class="marging-top-2">Duquesne University</li>
            <li class="marging-top-2">Robert Morris University</li>
            <li class="marging-top-2">University of Pittsburgh</li>
           

          </ul>
<h3 class="  padding-bottom-0  " style="font-size: 1.2rem!important; font-weight:600;
color:#01338d; line-height: 1.7;"> <cite> The IAFCS at VAPHS has academic affiliations with more 180 interdisciplinary programs across the Nation.
             </cite>
</h3>



        </div>

      </div>
    </section>

    <!-- how to apply/cuntact us  -->
    <section class="margin-top-4 margin-bottom-4 ">
      <div class="grid-container oneshadow" style="background:#f0f0f0;padding-right: 0 !important;">
        <div class="grid-row  padding-0 ">

          <!-- first video row  -->

          <div class="tablet:grid-col-7 mobile-lg:grid-col-auto display-flex flex-column "
            style="background:#f0f0f0;padding: 35px 50px 25px;  padding-top: 10%; padding-right: 0 !important;">

            <p style="font-size: 1.3rem!important; font-weight:700; color:#01338d;">To apply for the IAFCS in
              Pittsburgh, Pennsylvania
              check eligibility requirements and contact the co-directors at this site.</p>
            <!-- <a class="usa-button  shadowme a-work oneshadow btn-me text-left"
              href="/views/fellowship/applicants-info.html"
              style="width:80%;margin-top: 20px; background-color: #165266 ;">Information for Applicants »</a> -->

            <a class="usa-button btn-me  oneshadow a-work" href="mailto:MaryEllen.Elias@va.gov;Lillian.Emlet@va.gov"
              target="_blank" style="width:80%;margin-top: 20px; background-color: #165266 ;">Contact Us »
            </a>





          </div>
          <div class="tablet:grid-col-5 ">
            <img src="/assets/images/fellows/arash.jpg" class=" oneshadow"
              alt="pittsburg Arash Ashjae image place holder">
          </div>

        </div>
      </div>
    </section>

    <!-- selected alumni  -->

    <section class="oneshadow margin-bottom-4"
      style="margin-top: 40px;background: #e1f3f8;padding: 10px;padding-top: 40px;">


      <!-- first row  -->
      <div class="grid-row  padding-0 grid-container ">


        <!-- first video row  -->

        <div class="tablet:grid-col-5 mobile-lg:grid-col-auto text-center ">

          <p style="font-size: 40px!important; font-weight:700; color:#01338d; padding-top: 10%;">
            <i class="fas fa-handshake project-icon" style="font-size: 40px!important;"></i> Selected Alumni
          </p>



        </div>
        <div class="tablet:grid-col-7  padding-2">
          <ul class="font-body-md ">
            <li class="margin-top-1" style=" border-bottom: 1px solid #01338d !important;"> <strong>Marianne Burda,</strong>
                M.D., ACOS-E, Chillicothe VA Medical Center

            </li>
            <li class="margin-top-1 " style=" border-bottom: 1px solid #01338d !important;"><strong>Arshia Ashjaei,</strong> DDS, University of Pittsburgh School of Dental Medicine
            </li>
            <li class="margin-top-1 " style=" border-bottom: 1px solid #01338d !important;"><strong>José
                Pérez IV,</strong> MFA, BFA, Simulation Educator
            </li>
          </ul>

        </div>

      </div>

      <!-- past fellows row  -->


      <!-- past fellows text  -->


    </section>


    <!-- meet our director  -->
    <section class="usa-section small-padding usa-section margin-top-5 "
      style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
      <div class="grid-container">

        <div class="grid-row grid-gap-2  bg-white padding-3" style="box-shadow: 0px 5px 6px -6px black;">

          <div class="tablet:grid-col-12 margin-bottom-3">
            <div class="grid-row bg-white  padding-2 padding-bottom-0" style=" border-bottom: .125rem dotted #7fcfcf;">


              <p class="font-body-lg padding-top-1 margin-0  margin-bottom-3"> <strong>Meet Our Co-Directors</strong>
              </p>

            </div>
          </div>
          <!-- Mary Ellen Elias, MSN RN  -->

          <div class="tablet:grid-col-12 margin-bottom-3">
            <div class="grid-row grid-gap-2  bg-white ">
              <div class="tablet:grid-col-4  margin-bottom-3 display-flex flex-column flex-justify-start">
                <img class="usa-media-block__img    " src="/assets/images/fellows/Mary-Ellen.jpg"
                  alt="Mary Ellen Elias, MSN RN    ">
              </div>
              <div class="tablet:grid-col-8 ">
                <p class="font-body-sm margin-0 padding-3 margin-bottom-3" style=" background-color: #c9e9ed;">
                  <strong>Mary Ellen Elias, MSN RN <br>Simulation Coordinator, Co-Director, Advanced Interprofessional
                    Fellowship in Clinical Simulation at VA Pittsburgh Healthcare System

                  </strong>
                </p>

                <blockquote style="border: 0 !important;">
                  Mary Ellen Elias serves as adjunct faculty at Waynesburg University in the undergraduate nursing
                  program where she reviewed and updated the nursing policy, quality, and patient safety curriculum to
                  incorporate best practices and more active learning technologies. <br><a
                    href="/fellows-bio.html#ellen"> Read More »</a>


                </blockquote>


              </div>

            </div>
          </div>


          <!-- Lillian Emlet, MD, MS, CHSE    -->
          <div class="tablet:grid-col-12 margin-bottom-3">
            <div class="grid-row grid-gap-2  bg-white ">

              <div class="tablet:grid-col-8 ">
                <p class="font-body-sm margin-0 padding-3 margin-bottom-3" style=" background-color: #c9e9ed;">
                  <strong> Lillian Emlet, M.D., MS, CHSE<br>
                    Co-Director, VA Interprofessional Advanced Fellowship in Clinical Simulation at VA Pittsburgh
                    Healthcare System
                    Specialties: Critical Care Medicine, Emergency Medicine


                  </strong>
                </p>

                <blockquote style="border: 0 !important;">
                  Dr. Lillian Emlet has served as the Associate Program Director of the Internal Medicine-Critical Care
                  Medicine fellowship of the Multidisciplinary Critical Care Training Program at UPMC since 2010.
                  <br>
                  <a href="/fellows-bio.html#emlet"> Read More »</a>


                </blockquote>

              </div>
              <div class="tablet:grid-col-4  margin-bottom-3 display-flex flex-column flex-justify-end">
                <img class="usa-media-block__img    " src="/assets/images/fellows/Emlet-headshot.jpg"
                  alt="Lillian Emlet, MD, MS, CHSE headshot">
              </div>
            </div>





          </div>







        </div>
    </section>






  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->



</body>

</html>