<!DOCTYPE html>
<html class="no-js">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>certified Simlearn</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header =======        <div class="text-center padding-0 margin-0" >
        <div class="container">
          <img src="/assets/images/page1-images/simtop.png" alt="simlearn image "  style="width: 100; height: auto;">
          
          <div class="centered">
            <img src="/assets/images/page1-images/simlogo.png" alt="Simlearn Logo">
          </div>
        </div>
        
        
        
    </div>-->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="font-heading-xl text-dark-gray f48-700 ">
              SimLEARN Certified Simulation Centers

            </h1>

            <!-- <p class="font-body-sm padding-top-1" style="line-height: 1.7; letter-spacing: .6px;">

              SimLEARN is excited to announce the continuation of certification for Veterans Health Administration (VHA)
              simulation centers. The goal for national certification is to continue a structured program that supports
              improved local delivery of simulation-based training, augments access to developed instructional
              curricula, and increases continuity across the VHA. Certification ensures prioritization of the priorities
              of the VA Secretary and Executive In Charge. Facility Simulation Certification has been in existence since
              July, 2015 and remains one avenue for continuous process improvement and reflects the principles of highly
              reliable organizations. <br>

              SimLEARN congratulates the newest SimLEARN Certified Simulation Centers:






            </p><br> -->

          </div>


        </div>

      </div>
    </section>
    <!-- ======= About Section ======= -->

    <section style="background:#e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#e1f3f8;;margin-top:0;padding-top: 0;">

        <defs>
        </defs>

        <g "="">
              <polygon class=" fl-shape" style="background:#e1f3f8;fill:#fff" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>

    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="background: #e1f3f8;margin-top: 0 !important;padding-top: 0 !important;">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="text-dark-gray  ">
              View SLICE Centers
            </h1>

            <label for="myInput">Search by month:</label>
            <input type="text" id="myInput" onkeyup="myFunction()" class="adele-input long email_text_field oneshadow margin-top-2 margin-bottom-3">

            <hr>
            <table id="myTable" class="bg-white">
              <tr class="header">
                <th >Facility Name</th>
                <th >VISN</th>
                <th>City/State</th>
                
              </tr>
              	
              <tr>
                <td>VA Maine Healthcare System -Togus VAMC</td>
                <td>1</td>
                <td>Augusta, ME</td>
              </tr>
               
              <tr>
                <td>White River Junction VAMC</td>
                <td>1</td>
                <td>White River Junction, VT</td>
              </tr>
             	
              <tr>
               <td> Manchester VA Medical Center</td>
               <td>1</td>
               <td>Manchester, NH</td>
              </tr>
              	
              <tr>
                <td>VA Connecticut Healthcare System</td>
                <td>1</td>
                <td>West Haven Green, CT</td>
              </tr>
              	
              <tr>
               <td>VA Hudson Valley Health Care System (Montrose and Castle Point)</td>
               <td>2</td>
               <td>Montrose, NY</td>
              </tr>

             
              <tr>
                <td> VA NY Harbor Healthcare System</td>
                <td>2</td>
                <td>New York City, NY</td>
              </tr>
              	
              
              <tr>
               <td>James J. Peters VAMC</td>
               <td>2</td>
               <td>Bronx, NY</td>
              </tr>
              	
              <tr>
                <td>VA New Jersey Health Care System</td>
                <td>2</td>
                <td>East Orange, NJ</td>
              </tr>
             		
              <tr>
               <td> Pittsburgh VAMC</td>
               <td>4</td>
               <td>Pittsburgh, PA</td>
              </tr>

             	
              <tr>
                <td> Wilmington VA Medical Center</td>
                <td>4</td>
                <td>Wilmington, DE</td>
              </tr>
              	
              <tr>
               <td>Erie VA Medical Center</td>
               <td>4</td>
               <td>Erie, PA</td>
              </tr>

              	
              <tr>
                <td> Martinsburg VA Medical Center</td>
                <td>5	</td>
                <td>Martinsburg, WV</td>
              </tr>
              		
              <tr>
               <td>VA Maryland Health Care System</td>
               <td>5</td>
               <td>Baltimore, MD</td>
              </tr>
              		
              <tr>
                <td>Louis A. Johnson VAMC</td>
                <td>5</td>
                <td>Clarksburg, WV</td>
              </tr>
               	
              <tr>
               <td>Central Virginia Healthcare System</td>
               <td>6</td>
               <td>Richmond, VA</td>
              </tr>
             	
              <tr>
                <td>  Fayetteville NC VA Coastal Healthcare System</td>
                <td>6</td>
                <td>Fayetteville, NC</td>
              </tr>
               	
              <tr>
               <td>Salem VAMC</td>
               <td>6	</td>
               <td>Salem, VA</td>
              </tr>

              		
              <tr>
                <td> W.G (Bill) Hefner VA Medical Center</td>
                <td>6</td>
                <td>Salisbury, NC</td>
              </tr>
              	
              <tr>
               <td> Durham VA Health Care System</td>
               <td>6	</td>
               <td>Durham, NC</td>
              </tr>
               		
              <tr>
                <td>Carl Vinson VA Medical Center</td>
                <td>7</td>
                <td>Dublin, GA</td>
              </tr>
             	
              <tr>
               <td> Orlando VA Healthcare System- Lake Nona</td>
               <td>8</td>
               <td>Orlando, FL</td>
              </tr>
             	
              <tr>
                <td> James A. Haley Veterans' Hospital</td>
                <td>8</td>
                <td>Tampa, FL</td>
              </tr>
              		
              <tr>
               <td>VA Caribbean HealthCare System </td>
               <td>8</td>
               <td>San Juan, Puerto Rico</td>
              </tr>
             		
              <tr>
                <td> Lexington VA Health Care system</td>
                <td>9</td>
                <td>Lexington, KY</td>
              </tr>
             	
              <tr>
               <td> VA Northeast Ohio Healthcare System, Cleveland VA</td>
               <td>	10</td>
               <td>Cleveland, OH</td>
              </tr>
              		
              <tr>
                <td>Cincinnati VA Medical Center</td>
                <td>10</td>
                <td>Cincinnati, OH</td>
              </tr>
              	
              <tr>
               <td>Chalmers P.Wylie Ambulatory Care Center</td>
               <td>	10</td>
               <td>Columbus, OH</td>
              </tr>
              
              <tr>
                <td>Clement J. Zablocki VA Medical Center</td>
                <td>	12	</td>
                <td>Milwaukee, WI</td>
              </tr>
              	
              <tr>
               <td>William S. Middleton Memorial VA Hospital- Madison WI	</td>
               <td>12</td>
               <td>Madison, WI</td>
              </tr>
              	
              <tr>
                <td> Robert J Dole VA Medical Center</td>
                <td>	15</td>
                <td>Wichita, KS</td>
              </tr>
             	
              <tr>
               <td> Kansas City VAMC</td>
               <td>15	</td>
               <td>Kansas City, MO</td>
              </tr>
             	
              <tr>
                <td> Eastern Kansas Health Care System (Dwight D. Eisenhower VAMC / Colmery-O'Neil VAMC)	</td>
                <td>15</td>
                <td>Topeka, KS</td>
              </tr>
              	
              <tr>
               <td> John J. Pershing VAMC </td>
               <td>15	</td>
               <td>Popular Bluff, MO</td>
              </tr>
               	
              <tr>
                <td>Harry S. Truman Memorial Veterans' Hospital</td>
                <td>15	</td>
                <td>Columbia, MO</td>
              </tr>
             
              <tr>
               <td> Overton Brooks VAMC	</td>
               <td>16</td>
               <td>	Shreveport, LA</td>
              </tr>
              	
              <tr>
                <td>Veterans Health Care System of the Ozarks</td>
                <td>	16</td>
                <td>Fayetteville, AR</td>
              </tr>
              	
              <tr>
                <td>Audie L Murphy VA Hospital (South Texas Veterans Health Care System)</td>
                <td>17	</td>
                <td>San Antonio, TX</td>
              </tr>
              
              <tr>
               <td>VA North Texas Health Care System</td>
               <td>	17	</td>
               <td>Dallas, TX</td>
              </tr>
             
		

              <tr>
                <td> Oklahoma City VA Healthcare System</td>
                <td>	19	</td>
                <td>Oklahoma, OK</td>
              </tr>
              
              <tr>
               <td>George E. Whalen VAMC / VA Salt Lake City Health Care	</td>
               <td>19</td>
               <td>	Salt Lake City, UT</td>
              </tr>
               
              <tr>
                <td>Cheyenne VA Health Care System</td>
                <td>	19	</td>
                <td>Cheyenne, WY</td>
              </tr>
              
              <tr>
               <td>Eastern Colorado HCS / Rocky Montain Regional VAMC</td>
               <td>	19	</td>
               <td>Aurora, Colorado</td>
              </tr>
              
              <tr>
                <td> VA Montana Health Care / Fort Harrison VAMC</td>
                <td>	19	</td>
                <td>Fort Harrison, MT</td>
              </tr>
             
              <tr>
               <td> Boise VAMC </td>
               <td>	20</td>
               <td>	Boise, ID</td>
              </tr>
              		
              <tr>
                <td>VA Southern Nevada Healthcare System -  North Las Vegas (VASNHS)</td>
                <td>21</td>
                <td>Las Vegas, NV</td>
              </tr>
             		
              <tr>
               <td> VA Northern California Health Care System (Sacramento)</td>
               <td>21</td>
               <td>Mather, CA</td>
              </tr>
              
              <tr>
                <td> VA Palo Alto Health Care System</td>
                <td>	21</td>
                <td>	Palo Alto, CA</td>
              </tr>
              	
              <tr>
               <td> Southern Arizona VA Health Care System (SAVAHCS)</td>
               <td>22	</td>
               <td>Tucson, Arizona</td>
              </tr>
             	
              <tr>
                <td> VA Phoenix Healthcare System - Carl T. Hayden VAMC</td>
                <td>22</td>
                <td>	Phoenix, AZ</td>
              </tr>
            
              <tr>
               <td>  Minneapolis VA Healthcare System</td>
               <td>	23</td>
               <td>	Minneapolis, MN</td>
              </tr>
              
              <tr>
                <td>Omaha- Nebraska Wester Iowa</td>
                <td>	23	</td>
                <td>Omaha, NE</td>
              </tr>
               
              <tr>
               <td>Iowa City VA Medical Center</td>
               <td>	23	</td>
               <td>Iowa City, IA</td>
              </tr>
              	
              <tr>
                <td> Royal C. Johnson Memorial VAMC / VA Sioux Falls Healthcare System (SFVAHCS)</td>
                <td>23	</td>
                <td>Sioux Falls, SD</td>
              </tr>
             
              <tr>
               <td> Tennessee Valley Healthcare System</td>
               <td>	9	</td>
               <td>Nashville, TN</td>
              </tr>
              
              <tr>
                <td>Black Hills Healthcare Center</td>
                <td>	23</td>
                <td></td>
              </tr>
              
             
            
              


            </table>

           

            
            <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
            </script>
              
              

            

          </div>

      

       

      </div>




    </section>



  

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>