<!DOCTYPE html><!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--><!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]--><!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
  <html lang="en"><!--<![endif]-->
<head>
 
    <title>About SimLEARN | VA's Simulation Learning, Education, Assessment, and Research Network, part of the Office of Healthcare Innovation and Learning (OHIL)</title>
    <meta name="description"
        content=">Office of Healthcare Innovation and Learning">
    <meta name="keywords" content="">
 
 
    <!-- High Level meta data -->
   <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
 
 
    <!-- Links   -->
    <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css>
    <link rel="stylesheet" href=https://pro.fontawesome.com/releases/v5.10.0/css/all.css integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 
      
   
    <!-- JS Scripts -->
   
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js></script>
    <!-- custom hero slider -->
     <link rel="stylesheet" href="/_media/vendor/modal/css/modaal.min.css">
 
    <script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js></script>
   
    
      <link href="/hil/assets/css/styles.css" rel="stylesheet">
     <link href="/hil/assets/css/uswds.css" rel="stylesheet">
 
 
 
     
                              <link href="/simlearn/assets/css/main.css" rel="stylesheet">
 
    
                             <!--Touch icons-->
                             <link rel="apple-touch-icon" sizes="57x57" href="/_media/img/icons/apple-icon-57x57.png">
                             <link rel="apple-touch-icon" sizes="60x60" href="/_media/img/icons/apple-icon-60x60.png">
                             <link rel="apple-touch-icon" sizes="72x72" href="/_media/img/icons/apple-icon-72x72.png">
                             <link rel="apple-touch-icon" sizes="76x76" href="/_media/img/icons/apple-icon-76x76.png">
                             <link rel="apple-touch-icon" sizes="114x114" href="/_media/img/icons/apple-icon-114x114.png">
                             <link rel="apple-touch-icon" sizes="120x120" href="/_media/img/icons/apple-icon-120x120.png">
                             <link rel="apple-touch-icon" sizes="144x144" href="/_media/img/icons/apple-icon-144x144.png">
                             <link rel="apple-touch-icon" sizes="152x152" href="/_media/img/icons/apple-icon-152x152.png">
                             <link rel="apple-touch-icon" sizes="180x180" href="/_media/img/icons/apple-icon-180x180.png">
                             <link rel="icon" type="image/png" sizes="192x192" href="/_media/img/icons/android-icon-192x192.png">
                             <link rel="icon" type="image/png" sizes="32x32" href="/_media/img/icons/favicon-32x32.png">
                             <link rel="icon" type="image/png" sizes="96x96" href="/_media/img/icons/favicon-96x96.png">
                             <link rel="icon" type="image/png" sizes="16x16" href="/_media/img/icons/favicon-16x16.png">
         
          
                            
                             <meta name="msapplication-TileColor" content="#ffffff">
                             <meta name="msapplication-TileImage" content="/_media/img/icons/ms-icon-144x144.png">
                             <meta name="theme-color" content="#ffffff">
                             <!--Favicon-->
                             <link href="/favicon.ico" rel="shortcut icon" media="screen" type="image/x-icon">
                             <script src=https://code.jquery.com/jquery-3.6.0.min.js integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/_media/js/uswds/uswds-init.min.js"></script>
    <link rel="preload" href="/_media/js/uswds/uswds-init.min.js" as="script">
  
    <script  id="_fed_an_ua_tag" language="javascript" src=https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA&amp;pua=ua-46839167-1></script>
   
</head>
 
              <body class="">
    
       <script>
        $(function () {
            $("#header").load("/layouts/simlearn.html");
            $("#footer").load("/layouts/footer-hil.html");
        });
    </script>
 
    <div id="header"></div>
 
 
  <main id="main">
    <!-- ======= About Section ======= -->
    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:#FFFFFF;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:#FFFFFF;fill:#537494" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>
    <section>
      <div class="grid-container padding-3">
 
 
        <div class="grid-row grid-gap-3">
 
 
 
          <div class="tablet:grid-col-7 text-left ">
           <h1 class="f48-700 padding-top-0 padding-bottom-0 " style="text-align: left;">
              About SimLEARN
            </h1>
 
            <p class="font-body-sm " style="line-height: 1.7; letter-spacing: .6px;">
              <strong>The Simulation Learning, Evaluation, Assessment, and Research Network (SimLEARN)</strong> provides
              an ever-growing body of curricula and tools that improve overall Veteran well-being through simulation-based
              innovation and technologies provided in a safe learning environment. <br> <br>
            </p>
            <div class="tablet:grid-col-12 text-left padding-3 padding-top-0 padding-bottom-0"
              style="border-left: 5px solid black;">
              <p class="f18-line22-w700"> Mission</p>
              <p class="font-body-sm ">
                Set the standard for innovative health care education solutions through simulation-based innovation and
                technologies provided in a safe learning environment.
 
              </p>
              <p class="f18-line22-w700"> Vision</p>
              <p class="font-body-sm ">
                Be the indispensable asset to the enterprise and its partners that provides world-class services to all
                Veterans through innovation and simulation education.
              </p>
 
 
            </div>
 
 
          </div>
          <div
            class="tablet:grid-col-5 padding-top-5 padding-right-3 display-flex flex-column flex-justify-center text-center">
            <a href="#usermodaltop" aria-controls="usermodaltop"
            data-open-modal><img style=" width:100%"
                src="/simlearn/assets/images/about-page/img1.png" alt="About SimLEARN"><br>
              <figcaption> <small>Learn more about SimLEARN by selecting above.</small> </figcaption>
            </a>
 
 
          </div>
 
        </div>
    </section>
    <!-- End About Section -->
    <!-- SVG  -->
    <section style="background: #e1f3f8;">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background: #e1f3f8;;margin-top:0;padding-top: 0;">
 
        <defs>
        </defs>
 
        <g>
          <polygon class=" fl-shape" style="background: #e1f3f8;fill: #ffffff;" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
    </section>
    <!-- ======= About middle section ======= -->
    <section class="usa-graphic-list usa-section padding-top-0  " style="background-color:  #e1f3f8;">
      <div class="grid-container">
        <div class="  padding-top-3 ">
          <!-- <h2 class="font-heading-xl border-bottom ">
            Learn more about SimLEARN
          </h2> -->
        </div>
 
 
        <!--project1  -->
        <div class="grid-row grid-gap-3 ">
 
          <div class="tablet:grid-col-7 padding-right-5  ">
            <h2 class="f36-700 "> SimLEARN Virtual Academy (SVA)</h2>
            <p class="font-body-sm margin-0 padding-2" style="padding-top: 15px;">SVA leverages innovation and
              technology to
              advance simulation education through synchronous and asynchronous modalities. SVA decreases training
              costs, minimize logistic requirements, and reduces the time clinical staff are away from Veteran care
              through the reduction of travel to training locations. <br> <br>
 
            </p>
            <div class="">
              <a class="usa-button
               shadowme a-work oneshadow
                btn-me" href="virtual-academy"
                
              aria-controls="virtual-academy"
 
              data-open-modal style="width:80%;"><small>SimLEARN Virtual Academy »</small></a>
 
 
            </div>
          </div>
          <div class="tablet:grid-col-5 ml-auto flex-align-center padding-top-3 margin-top-1">
 
            <img class="  " src="/simlearn/assets/images/about-page/SVA.png" alt="VHA SimLEARN National">
          </div>
        </div>
        <!--project2  -->
        <div class="grid-row grid-gap-5 margin-top-2 padding-top-3">
          <div class="tablet:grid-col-5 display-flex flex-column flex-justify-center padding-top-2 margin-top-1">
 
            <img class="  flex-align-center  " src="/simlearn/assets/images/about-page/NSC-Plaque.png" alt="VHA SimLEARN">
          </div>
 
          <div class="tablet:grid-col-7 padding-3">
            <h2 class=" f36-700">Certified Simulation Centers </h2>
            <p class="font-body-sm margin-0"> SimLEARN staff recently awarded simulation certifications. These certifications will be awarded to qualified facilities in June and December of each year. Facility certifications last for two years and are renewable. They are a distinctive
              accomplishment. There are three tiers of certification: basic, intermediate, and advanced. Below
              is a link
              to the full list of certified facilities. A facility can request certification after one year of operation
              while meeting the basic level criteria. A non-binding email of intent and certification application is
              required. Please contact the team by sending an email to:
              <a
                href=mailto:VHASimLEARNFacilitySimulationCertification@va.gov>VHASimLEARNFacilitySimulationCertification@va.gov</a>
              <br><br>
 
 
            </p>
            <div>
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="/simlearn/views/about/certified-simlearn.html"
                style="width: 80%;"><small>View Certified Centers »</small></a>
                 
               <a class="usa-button  shadowme a-work oneshadow  btn-me margin-top-2" href=https://smart.vha.med.va.gov/simcert target="_blank"
                style="width: 80%;"><small>Simulation Certification Application in SMART »</small></a>
 
 
 
 
            </div>
          </div>
 
        </div>
 
 
 
    </section>
    <!-- banner image  -->
    <section class="padding-0 margin-0">
 
      <div class="text-center padding-0 margin-0">
        <img src="/simlearn/assets/images/page1-images/SimVET-Center.jpg" style="width: 100%;
       " alt="VHA-iEX_Website_Header-banner">
 
 
      </div>
      <!-- <div class="parallax"></div>
      <div class="centered text-center">
        <img src="/simlearn/assets/images/page1-images/simlogo.png" alt="Simlearn Logo" style="width: 80%;">
      </div> -->
 
    </section>
    <section class=" padding-top-3 padding-bottom-3 " style="background-color:  #e1f3f8;">
      <div class="grid-container">
        <h2 class="f36-700"> VHA National SimVET Center</h2>
 
        <!--project3  -->
        <div class="grid-row grid-gap-4">
          <div class="tablet:grid-col-5 display-flex flex-column flex-justify-center padding-top-2 margin-top-1">
 
            <img class="  flex-align-center " src="/simlearn/assets/images/about-page/NSC-Lobby.png" alt="VHA SimLEARN National">
          </div>
          <div class="tablet:grid-col-7  ">
 
            <p class="font-body-sm margin-0" style="padding-top: 15px;">The VHA National SimVET Center was
              built on the campus of the new Orlando VA Medical Center, which is part of the exciting new "Medical City"
              campus at Lake Nona.
 
              <br><br> The Lake Nona development site includes other large clinical, education, and research facilities.
              A variety of federal simulation research offices are in close proximity at the University of Central
              Florida campus. This strategic placement facilitates enhanced opportunities for research in new simulation
              technologies and methods.
 
              <br><br> The VHA National SimVET Center(NSC) serves as the operational hub for coordination of all
              national VHA clinical simulation activities. <br><br>
 
            </p>
            <div class="text-center">
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="/simlearn/assets/documents/SimLearn_Datasheet_NSC.pdf" target="_blank"><small>Read The Brochure »</small></a>
              <a class="usa-button  shadowme a-work oneshadow  btn-me" href="/simlearn/views/about/about-nsc.html" ><small>About The NSC »</small></a>
 
 
            </div>
          </div>
        </div>
 
    </section>
    <!-- SVG  -->
 
    <!-- ======= Activities of the VHA SimLEARN National Simulation Center ======= -->
    <section class="   margin-bottom-0  margin-top-0 padding-top-0 bg-base-lightest">
      <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background: #f0f0f0;;margin-top:0;padding-top: 0;">
 
        <defs>
        </defs>
 
        <g>
          <polygon class=" fl-shape" style="background: #f0f0f0;fill: #e1f3f8;" points="0,0 422,0 422,20">
          </polygon>
        </g>
      </svg>
      <div class="grid-container ">
        <div class="bg-base-lightest">
          <div class="text-dark">
            <h2 class="f36-700">
              Activities of the VHA SimLEARN National SimVET Center
            </h2>
 
 
            <div class="grid-row grid-gap">
              <div class="tablet:grid-col-6 padding-top-2 ">
 
 
                <ul class="font-lang-12 padding-top-1 line-height-sans-6 " style="font-size: 18px;">
 
 
                  <li>Development and delivery of national simulation-based training curricula</li>
                  <li>Creation of national policies, procedures, and standards for conduct of simulation-based training
                    across a
                    network of VA medical facilities</li>
                  <li> Coordination and support of Veterans Integrated Service Network medical center
                    simulation-based
                    training programs and feedback on local curricula</li>
                  <li> Train-the-trainer programs*</li>
                  <li>Train-the-provider programs*</li>
                  <li> Development of serious games, virtual environments, and virtual patients to support health care
                    education
                    and training</li>
                  <li>Simulation technology innovation, evaluation and development</li>
                  <li>Simulation technology technical support</li>
                
                </ul>
              </div>
 
              <div class="tablet:grid-col-6 padding-top-4 ">
                <ul class="font-lang-12 padding-top-1 line-height-sans-6 " style="font-size: 18px;">
                  <li> Human factors evaluation and systems testing</li>
                  <li> Advanced surgical training using virtual reality simulators</li>
                  <li>Interprofessional Advanced Fellowships in Clinical Simulation</li>
                  <li> Management of VHA’s Resuscitation Education Initiative, or REdI, a national simulation-based
                    training
                    program in coordination with the American Heart Association for internal training of Basic Life
                    Support
                    and Advanced Cardiac Life Support certifications</li>
                  <li> National acquisition of simulation equipment</li>
                  <li> Educational research</li>
                  <li> Tele-Simulation training</li>
                
                </ul>
                    
                    
 
 
              </div>
                  <div class="tablet:grid-col-12 padding-top-1 ">
                       <hr>
                  <p> &#9733; The center’s train-the-trainer and train-the provider approach uses the most suitable
                    modalities
                    of
                    simulation to include mannequin-based simulation, standardized patients, and hands-on task trainers.
                  </p>
                     
                      </div>
 
 
 
 
 
            </div>
 
 
          </div>
 
        </div>
 
 
      </div>
      </div>
 
 
 
    </section>
    <section class="bg-primary-dark padding-5">
      <div class="grid-container">
        <div>
          <h2 class="text-white">Take a walk through the VHA SimLEARN National Simulation Center <br><br></h2>
 
        </div>
        <iframe class="" title="Video walk through of the VHA SimLEARN National Simulation Center" width="100%" height="400px"
         src="//players.brightcove.net/2851863979001/default_default/index.html?directedMigration=true&amp;videoId=4570069648001&amp;"
         frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        </iframe>
 
      </div>
 
 <img src="/assets/images/Screenshot 2024-09-03 at 1.16.54 PM.png" alt="">
 
    </section>
 
    <!-- modal for Simlearn Stand  -->
  
 
   <div class="usa-modal usa-modal--lg" id="usermodaltop" aria-labelledby="simlearn stand for"
aria-describedby="vcl-modal-description ">
    <div class="usa-modal__content">
      <div class="usa-modal__main " style="max-width:100%;">
        <h2 class="usa-modal__heading
        vcl-modal__title font-family-serif
        font-serif-lg"
         id="">
         Breaking It Down</h2>
         <button
    class="usa-button usa-modal__close" style="align-items: center;
    align-self: flex-end;
   
    color: #757575 !important;
    display: flex;
    flex-shrink: 0;
    font-size: .93rem;
    margin: -2rem 0 0 auto;
    padding: .25rem;
    width: auto;"
    aria-label="Close this window"
    data-close-modal
  >
    <svg class="usa-icon text-white" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="/_media/img/uswds/sprite.svg#close"></use>
    </svg>
  </button>
          <div
           class="usa-modal__footer">
           <p class="font-ui-2xs">SimLEARN stands for<strong> the Simulation Learning, Evaluation, Assessment, and
            Research Network (SimLEARN).</strong> </p>
            <div
            class="tablet:grid-col-12 text-left padding-3 padding-top-0 padding-bottom-0 margin-top-1 margin-bottom-1"
            style="border-left:20px solid #8FAADC;">
            <p class="f18-line22-w700"> Assessment</p>
            <p class="font-body-sm ">
              Use simulation as a proactive approach to assess the effectiveness of clinical spaces, personnel, and
              systems that impact the quality of care provided to Veterans.
            </p>
 
          </div>
          <!-- 22 -->
 
          <div class="tablet:grid-col-12 text-left padding-3 padding-top-3 padding-bottom-0"
            style="border-left:20px solid #2F5597;">
            <p class="f18-line22-w700"> Research</p>
            <p class="font-body-sm ">
              Assemble a body of knowledge in simulation-based education; translate technology and innovation into
              evidence-based best practices and standards; and collaborate with partners to maximize impact and
              global
              reach of simulation and innovation research
 
            </p>
 
          </div>
          <!-- 33 -->
 
 
          <div class="tablet:grid-col-12 text-left padding-3  padding-bottom-0"
            style="border-left:20px solid  #203864;">
            <p class="f18-line22-w700"> Network</p>
            <p class="font-body-sm ">
              Build strong collaborations with internal/external partners to leverage simulation best practices and
              innovation aimed at continuous improvement throughout the enterprise.
 
            </p>
 
          </div>
          <!-- 44 -->
 
 
          <div class="tablet:grid-col-12 text-left padding-3  padding-bottom-0"
            style="border-left:20px solid #DAE3F3;">
            <p class="f18-line22-w700">Learning</p>
            <p class="font-body-sm ">
              Develop simulation-based curricula and tools that support learner-centered and problem-based learning
              environments
 
            </p>
 
          </div>
          <!-- 55 -->
 
 
 
          <div class="tablet:grid-col-12 text-left padding-3  padding-bottom-0"
            style="border-left:20px solid #B4C7E7;">
            <p class="f18-line22-w700"> Evaluation</p>
            <p class="font-body-sm ">
              Create processes and tools to evaluate simulation experiences, learner behaviors, and outcomes
 
            </p>
          </div>
         </div>
     
    </div>
  </div>
 
<!-- NSC video modal  -->
   
    <!-- modal for virtual academy -->
    <div class="usa-modal usa-modal--lg"
    id="virtual-academy" aria-labelledby="Leaving this page "
    aria-describedby="virtual-academy-description">
        <div class="usa-modal__content">
          <div class="usa-modal__main " style="max-width:100%;">
           
              <button
    class="usa-button usa-modal__close" style="align-items: center;
    align-self: flex-end;
   
    color: #757575 !important;
    display: flex;
    flex-shrink: 0;
    font-size: .93rem;
    margin: -2rem 0 0 auto;
    padding: .25rem;
    width: auto;"
    aria-label="Close this window"
    data-close-modal
  >
    <svg class="usa-icon text-white" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="/_media/img/uswds/sprite.svg#close"></use>
    </svg>
  </button>
             <div class="usa-alert usa-alert--info usa-alert--no-icon">
                <div class="usa-alert__body">
                  <p class="usa-alert__text">
                    <h4 class="usa-alert__heading"> You Are Now Leaving This Site</h4>
                  
    <br>
                   You are leaving the VHA SimLEARN webpage, hyperlinks does not constitute endorsement by the Department of Veterans Affairs of the linked website.
                    <br> <br>
                    <a class="usa-button  shadowme a-work oneshadow  btn-me text-center  " style="float:right;" href=https://simacademy.vha.med.va.gov ><small>Continue </small></a>
                  </p>
                </div>
              </div>
   
         
        </div>
      </div>
      </div>
 
 
  </main><!-- End #main  -->
 
 
 
                   
    <div id="footer"></div>
 
</body>
 
</html>