    <!-- Musculoskeletal Clinician Training Course (MSK-C) -->
    <div class="filterDiv    person  padding-left-4  margin-top-3 showbtn">
      <div class="padding-3" style="border-left: 5px solid #537494 ;">
          <h3 class="text-dark-gray f36-line22-w700 line-height-sans-8 "
              style="font-weight:400;line-height: 35px;">
              Musculoskeletal Clinician Training Course (MSK-C)
          </h3>

          <p class="font-body-sm padding-top-1 " style="line-height: 1.7; letter-spacing: .6px;">
            The purpose of this face-to-face (FTF) simulation training is to enhance primary care providers’ knowledge, skills and confidence to manage common musculoskeletal (MSK) problems of the shoulder and knee. In addition, this training emphasizes appropriate resource utilization and access to specialty care. MSK diseases are common, and many patients seek care for these problems in primary care and urgent care clinics. MSK conditions have been identified as one of the most frequent diagnoses in primary care clinic encounters in the US. Despite this prevalence, providers are often not well prepared to effectively address common MSK problems within their clinical setting.
            Nurse practitioners (NPs) and Physician Assistants (PAs) often receive very abbreviated training in musculoskeletal (MSK) diagnosis and management during PA or NP school. In addition, primary care physicians generally receive MSK training in the first two years of medical school and have little opportunity to apply these skills until after completing their residency training because the bulk of residency training focuses on inpatient care. This course provides clinicians with a framework necessary to manage common MSK conditions which present to primary care, enhancing stewardship of limited resources and increasing access to appropriate care.
              <br><br>
          </p>
          <p>
              In Person
              <a class="usa-button  shadowme a-work  float-right oneshadow " href="https://hcm03.ns2cloud.com/sf/learning?destUrl=https%3a%2f%2fva%2dhcm03%2ens2cloud%2ecom%2flearning%2fuser%2fdeeplink%5fredirect%2ejsp%3flinkId%3dITEM%5fDETAILS%26componentID%3d4629459%26componentTypeID%3dVA%26revisionDate%3d1658334900000%26fromSF%3dY&company=VAHCM03
                  ">
                  <small>
                      Course Details

                  </small>
              </a>

          </p>

      </div>
  </div>
