<!DOCTYPE html>
<html class="no-js">

<head>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>

  <title>National Curricula and Training,Upcoming courses</title>
  <meta name="description" content="Simlearn">

  <!-- High Level meta data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Links -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/simlearn/assets/uswds-2.0.3/css/uswds.css">
  <link rel="stylesheet" href="/simlearn/assets/css/main.css">
  <!-- custom hero slider -->
  <link rel="stylesheet" href="/simlearn/assets/css/slick.css">
  <link rel="stylesheet" href="/simlearn/assets/css/slick-theme.css">
  <!-- <link rel="shortcut icon" href="http://www.INNOVATIONECOSYSTEM.com.s3-website-us-east-1.amazonaws.com/favicon.ico">
        <link rel="icon" href="/simlearn/assets/images/favicon.png"> -->
  <link rel="stylesheet" href="/simlearn/assets/fontawesome-free-5.11.1-web/css/all.css">

  <!-- JS Scripts -->
  <script type="text/javascript" src="/simlearn/assets/uswds-2.0.3/js/uswds.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- custom hero slider -->
  <script type="text/javascript" src="/simlearn/assets/js/slick.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script> -->
  <!-- js+jq for the  header and footer -->
  <script>
    $(function () {
      $("#header").load("/partials/header.html");
      $("#footer").load("/partials/footer.html");
    });
  </script>

</head>

<body>
  <!-- ======= Header =======        <div class="text-center padding-0 margin-0" >
        <div class="container">
          <img src="/simlearn/assets/images/page1-images/simtop.png" alt="simlearn image "  style="width: 100; height: auto;">
          
          <div class="centered">
            <img src="/simlearn/assets/images/page1-images/simlogo.png" alt="Simlearn Logo">
          </div>
        </div>
        
        
        
    </div>-->
  <div id="header"></div>


  <!-- ======= Hero Section ======= -->

  <main id="main">



    <!-- End Hero -->

    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background:white;margin-top:0;padding-top: 0;">
      <defs></defs>
      <g>
        <polygon class=" fl-shape" style="background:white;fill:#07648d" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>

    <section class="  small-padding 3  margin-bottom-0  bg-white">


      <div class="grid-container">


        <div class="grid-row grid-gap-5">


          <div class="tablet:grid-col-12 ">
            <h1 class="font-heading-xl text-dark-gray f48-700 " style="line-height:60px; ;"> 
              Tour the SimVET Cente

            </h1>

           

          </div>


        </div>

      </div>
    </section>


   
  
    <section class=" margin-bottom-3  margin-top-2 padding-top-5"
    style="background: white;margin-top: 0 !important;padding-top: 0 !important;">
    <div class="grid-container text-center">



      <div class="grid-row grid-gap-1 usa-card-group ">
        <!--11- VA employee-->
        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2  margin-top-2 "> 
          <a href="/simlearn/assets/images/tour-calendar/Activity-Request.docx" target="_blank"> 
            <img class=" wrapper-1 wrapper-me oneshadow" 
            src="/simlearn/assets/images/tour-calendar/website-NonVAEmployees-FINAL.jpg" 
          alt="upcoming courses page">
        </a>
         
        </div>
        <!-- 22  none VA Employee-->
        <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2  margin-top-2">
          <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=Ixtf6a-r7kWCHberJRqzv6fktOI-mbJOoHXvxUjMxmpUQlYwRENGVEU2OFhWOEQwRk9SWjdHWktGMy4u&wdLOR=c0DB9B5B5-E15F-124C-8F7D-4A4D371E4DD8" >
            <img class="oneshadow wrapper-me" src="/simlearn/assets/images/tour-calendar/website-VAEmployees-FINAL.jpg" alt="tour tour-request image holder">
          </a>
            </div>
       
       

      </div>



    </div>


  </section>

   <!-- Svg   -->
   <section style="background: #e1f3f8;">
    <svg viewBox="0 0 422 20.98" preserveAspectRatio="none" style="background: #e1f3f8;;margin-top:0;padding-top: 0;">

      <defs>
      </defs>

      <g>
        <polygon class=" fl-shape" style="background: #e1f3f8;fill: #ffffff;" points="0,0 422,0 422,20">
        </polygon>
      </g>
    </svg>
  </section>
    <!-- main boxes  -->
    <section class="  margin-bottom-3 padding-bottom-4 margin-bottom-0"
      style="margin-top: 0 !important;padding-top: 0 !important; background-color: #e1f3f8;">

      <div class="grid-container">


        <div class="grid-row grid-gap-5">
          <div class="tablet:grid-col-12 ">
            <h1 class="font-heading-xl text-dark-gray f48-700 ">
              Tour Calendar
            </h1>

           

          </div>


          <div class="tablet:grid-col-12 ">
           

            <label for="myInput">Search by month:</label>
            <input type="text" id="myInput" onkeyup="myFunction()" class="adele-input long email_text_field oneshadow margin-top-2 margin-bottom-3">

            <hr>
            <table id="myTable" class="bg-white ">
              <tr class="header">
                <th >Tour Dates (FY23)</th>
                <th >Time of Availability
                  Primary Option</th>
                <th >Month's Alternative Date</th>
                <th >Time of Availability
                  Secondary Option</th>
                
              </tr>

              					
              <tr>
                <td>Tuesday, October 4, 2022</td>
                <td>12:30 AM - 1:30PM</td>
                <td>Tuesday, October 18, 2022</td>
                <td>12:30 AM - 1:30PM	</td>
                
                
              </tr>
            				
              <tr>		
                <td>Tuesday, November 1, 2022</td>
                <td>12:30 AM - 1:30PM	</td>
                <td>Tuesday, November 15, 2022</td>
                <td>12:30 AM - 1:30PM</td>
                
              </tr>

            	
              <tr>
                <td>  Tuesday, December 6, 2022</td>
                <td>	12:30 AM - 1:30PM</td>
                <td>	Tuesday, December 20, 2022</td>
                <td>	12:30 AM - 1:30PM	</td>
                
              </tr>

              				
              <tr>
                <td>Tuesday, January 3, 2023</td>
                <td>12:30 AM - 1:30PM</td>
                <td>Tuesday, January 17, 2023</td>
                <td>12:30 AM - 1:30PM	</td>
                
              </tr>

             						
              <tr>
                <td>Tuesday, February 7, 2023</td>
                <td>12:30 AM - 1:30PM</td>
                <td>Tuesday, February 21, 2023</td>
                <td>12:30 AM - 1:30PM	</td>


                
              </tr>
             			
              
              			
              <tr>
               <td>Tuesday, March 7, 2023</td>
               <td>12:30 AM - 1:30PM</td>
               <td>Tuesday, March 21, 2023</td>
               <td>12:30 AM - 1:30PM</td>
                
              </tr>
              			
             	
              <tr>
                <td>Tuesday, April 4, 2023</td>
                <td>12:30 AM - 1:30PM</td>
                <td>Tuesday, April 18, 2023</td>
                <td>12:30 AM - 1:30PM</td>
                
              </tr>

              
              <tr>
                <td>Tuesday, May 2, 2023</td>
                <td>12:30 AM - 1:30PM	</td>
                <td>	Tuesday, May 16, 2023	</td>
                <td>12:30 AM - 1:30PM</td>
              </tr>
              		
              <tr>
                <td>Tuesday, June 6, 2023	</td>
                <td>12:30 AM - 1:30PM</td>
                <td>Tuesday, June 20, 2023</td>
                <td>12:30 AM - 1:30PM</td>
              </tr>
             
              <tr>
                <td> Tuesday, February 1, 2022</td>
                <td>No Tours (Holiday)</td>
                <td>Tuesday, July 18, 2023</td>
                <td>12:30 AM - 1:30PM</td>
              </tr>

            
              <tr>
                <td>Tuesday, August 1, 2023</td>
                <td>12:30 AM - 1:30PM	</td>
                <td>Tuesday, August 15, 2023	</td>
                <td>12:30 AM - 1:30PM</td>
              </tr>
              			
              <tr>
                <td>Tuesday, September 5, 2023</td>
                <td>12:30 AM - 1:30PM</td>
                <td>Tuesday, September 19, 2023</td>
                <td>12:30 AM - 1:30PM	</td>
              </tr>

          


            


             
           


            </table>
            
            <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
            </script>
              
              

            

          </div>

      

        </div>

      </div>




    </section>



  

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <div id="footer"></div><!-- End Footer -->

</body>

</html>